.search {
  .movie-container:hover {
    cursor: pointer;

    .movie-title {
      color: #e50914;
    }
    .movie-desc {
      color: white;
    }
  }
  button {
    background-color: #e50914;
    color: white;
  }

  img {
    width: 100%;
  }

  h5 {
    color: white;
  }
}
